@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: english, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: stonescale;
  font-weight: 400;
  font-style: normal;
}
